<!-- /patient/exercises view page-->
<div class="container">

	<div class="row">
		<h1><%= @patient.first_name  + " " + @patient.last_name %></h1>

		<% @exercises.each do |exercise| %>
			<div class='col-md-2'>
			  <img src="<%= exercise.image_url %>" width="80px" alt="exercise image"/>
			</div>
			<div class='col-md-6'>
			  <h6><%= exercise.title %></h6>
			  <%= exercise.description %>
			</div>

			<div class="col-md-4">

					<button class="exercise">Remove</button>

			</div>
			<div class="clearfix"></div>
			<hr>
		<% end %>

	</div>
</div>
