<br>
<br>
<div class="container-fluid">
<h1>Patient Directory</h1>

<div class="patient-list">
<% @patients.each do |patient| %>
	<li><%= link_to patient.first_name + " " + patient.last_name, patient_path(patient) %></li><br>
<%end%>
</div>
</div>
