<br>
<br>
<div class="container-fluid">
<h1>Physician Directory</h1>

<% @doctors.each do |doctor| %>
  <a href="/doctors/<%= doctor.id %>">
    <%= doctor.first_name %> </br>
  </a>
<% end %>
</div>


