
<div class="container">
	<div class="row" style="text-align:center">
		<h1>About Us</h1>
	</div>

<div class="row">
		<div class="span5">
			<h2>Michael Norelli</h2>
			<h4><a href="https://github.com/mnorelli" target="_blank">Github</a></h4>
			<img src="https://avatars3.githubusercontent.com/u/4873069?v=3&s=400"/>
			<p> Cold-pressed humblebrag four loko pork belly asymmetrical. Typewriter narwhal wolf photo booth quinoa. Chillwave try-hard heirloom offal kickstarter, pickled meh cray hoodie. Microdosing truffaut dreamcatcher direct trade sartorial aesthetic. Gentrify typewriter migas, cronut chicharrones helvetica taxidermy kale chips pug wolf chillwave sartorial mixtape put a bird on it. Wayfarers keytar helvetica, crucifix shoreditch tousled mlkshk hammock hella viral dreamcatcher actually lumbersexual kale chips. Lomo man braid irony, heirloom tattooed pour-over food truck.</p>
		</div>

		<div class="span5">
			<h2>Sam Brooks</h2>
			<h4><a href="https://github.com/sbrks" target="_blank">Github</a></h4>
			<img src="https://avatars2.githubusercontent.com/u/13695123?v=3&s=460"/>
			<p> Cold-pressed humblebrag four loko pork belly asymmetrical. Typewriter narwhal wolf photo booth quinoa. Chillwave try-hard heirloom offal kickstarter, pickled meh cray hoodie. Microdosing truffaut dreamcatcher direct trade sartorial aesthetic. Gentrify typewriter migas, cronut chicharrones helvetica taxidermy kale chips pug wolf chillwave sartorial mixtape put a bird on it. Wayfarers keytar helvetica, crucifix shoreditch tousled mlkshk hammock hella viral dreamcatcher actually lumbersexual kale chips. Lomo man braid irony, heirloom tattooed pour-over food truck.</p>
		</div>
</div>


<div class="col-lg-12">
<div class="row">
	<div class="span5">
		<h2>Benjamin Yang</h2>
			<h4><a href="https://github.com/byfyang" target="_blank">Github</a></h4>
		<img src="https://avatars0.githubusercontent.com/u/18609201?v=3&s=400"/>
		<p>  Cold-pressed humblebrag four loko pork belly asymmetrical. Typewriter narwhal wolf photo booth quinoa. Chillwave try-hard heirloom offal kickstarter, pickled meh cray hoodie. Microdosing truffaut dreamcatcher direct trade sartorial aesthetic. Gentrify typewriter migas, cronut chicharrones helvetica taxidermy kale chips pug wolf chillwave sartorial mixtape put a bird on it. Wayfarers keytar helvetica, crucifix shoreditch tousled mlkshk hammock hella viral dreamcatcher actually lumbersexual kale chips. Lomo man braid irony, heirloom tattooed pour-over food truck.</p>

	</div>

	<div class="span5">
		<h2>Wayne Banks	</h2>
		<h4><a href="https://github.com/Limelight-Management-Group" target="_blank">Github</a></h4>
		<img src="https://avatars0.githubusercontent.com/u/16926125?v=3&s=400"/>
		<p> Cold-pressed humblebrag four loko pork belly asymmetrical. Typewriter narwhal wolf photo booth quinoa. Chillwave try-hard heirloom offal kickstarter, pickled meh cray hoodie. Microdosing truffaut dreamcatcher direct trade sartorial aesthetic. Gentrify typewriter migas, cronut chicharrones helvetica taxidermy kale chips pug wolf chillwave sartorial mixtape put a bird on it. Wayfarers keytar helvetica, crucifix shoreditch tousled mlkshk hammock hella viral dreamcatcher actually lumbersexual kale chips. Lomo man braid irony, heirloom tattooed pour-over food truck.</p>
	</div>
</div>
</div>

</div>


